@charset "utf-8";

/* common */
.assignment_title {
  font-size: 25px;
}

.flex {
  display: flex;
}

.mo_center {
  justify-content: center;
}

.mo_end {
  justify-content: flex-end;
}

.mo_between {
  justify-content: space-between;
}

.mo_around {
  justify-content: space-around;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}
/* common */

/* box */
.red_box {
  width: 150px;
  height: 150px;
  background: #ff0000;
}

.green_box {
  width: 150px;
  height: 150px;
  background: #15ff00;
}

.yellow_box {
  width: 150px;
  height: 150px;
  background: #fff700;
}
/* box */

/* スタイルを書く場合はここに書いてください */